:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --text: #ffffff;
  --white: #ffffffbf;
  --white-2: #fffffff2;
  --white-3: #ffffff80;
 
  --font-size-l: 18px;
  --font-size-m: 12px;
  --font-size-xl: 36px;
  --font-size-xxl: 42px;
  --font-size-xxxl: 128px;
 
  --font-family-archivo: "Archivo", Helvetica;
  --font-family-rm_mono-regular: "RM Mono-Regular", Helvetica;
  --font-family-source_serif_pro: "Source Serif Pro", Helvetica;
}
.rmmono-regular-normal-white-12px {
  color: var(--white);
  font-family: var(--font-family-rm_mono-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.archivo-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.rmmono-regular-normal-white-12px-2 {
  color: var(--white-3);
  font-family: var(--font-family-rm_mono-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.rmmono-regular-normal-white-12px-3 {
  color: var(--white-2);
  font-family: var(--font-family-rm_mono-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.archivo-medium-alto-128px {
  color: var(--alto);
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.sourceserifpro-normal-white-18px {
  color: var(--white-3);
  font-family: var(--font-family-source_serif_pro);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
